<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>groupName</key>
		<string>说明</string>
		<key>details</key>
		<array>
			<dict>
				<key>key</key>
				<string></string>
				<key>title</key>
				<string>标题-1</string>
				<key>detail</key>
				<string>信息信息信息信息信息信息信息信息信息信息信息信息信息信息信息信息信息信息信息信息信息信息信息信息</string>
				<key>createDate</key>
				<date>2018-10-15T06:51:11Z</date>
				<key>imageName</key>
				<string>pay</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>groupName</key>
		<string>页面跳转</string>
		<key>details</key>
		<array>
			<dict>
				<key>key</key>
				<string>UIViewController</string>
				<key>title</key>
				<string>UIViewController</string>
				<key>detail</key>
				<string>UIViewController</string>
				<key>createDate</key>
				<date>2018-10-15T06:49:11Z</date>
				<key>imageName</key>
				<string>imageName</string>
			</dict>
			<dict>
				<key>key</key>
				<string>UINavigationController</string>
				<key>title</key>
				<string>UINavigationController</string>
				<key>detail</key>
				<string>UINavigationController</string>
				<key>createDate</key>
				<date>2018-10-15T06:49:11Z</date>
				<key>imageName</key>
				<string>imageName</string>
			</dict>
			<dict>
				<key>key</key>
				<string>UITabBarController</string>
				<key>title</key>
				<string>UITabBarController</string>
				<key>detail</key>
				<string>UITabBarController</string>
				<key>createDate</key>
				<date>2018-10-15T06:49:11Z</date>
				<key>imageName</key>
				<string>imageName</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>groupName</key>
		<string>数据存储</string>
		<key>details</key>
		<array>
			<dict>
				<key>key</key>
				<string>UserDefaults</string>
				<key>title</key>
				<string>UserDefaults</string>
				<key>detail</key>
				<string>UserDefaults</string>
				<key>createDate</key>
				<date>2018-10-15T06:49:11Z</date>
				<key>imageName</key>
				<string>imageName</string>
			</dict>
			<dict>
				<key>key</key>
				<string>SQLite</string>
				<key>title</key>
				<string>SQLite</string>
				<key>detail</key>
				<string>SQLite</string>
				<key>createDate</key>
				<date>2018-10-15T06:49:11Z</date>
				<key>imageName</key>
				<string>imageName</string>
			</dict>
			<dict>
				<key>key</key>
				<string>CoreData</string>
				<key>title</key>
				<string>CoreData</string>
				<key>detail</key>
				<string>CoreData</string>
				<key>createDate</key>
				<date>2018-10-15T06:49:11Z</date>
				<key>imageName</key>
				<string>imageName</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>groupName</key>
		<string>屏幕触控</string>
		<key>details</key>
		<array>
			<dict>
				<key>key</key>
				<string>UIGestureRecognizer</string>
				<key>title</key>
				<string>UIGestureRecognizer</string>
				<key>detail</key>
				<string>手指滑动</string>
				<key>createDate</key>
				<date>2018-10-15T06:49:11Z</date>
				<key>imageName</key>
				<string>imageName</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
